*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #202020;
}

svg {
	width: 100%;
}

#stats {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border: red;
	background: #fff;
}
